---
layout: base
title: Account Settings
permalink: 'pages/account.html'
---

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-7 mx-auto">
            <!-- Profile picture -->
            <div class="card shadow border-0 mt-4 mb-10">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <div class="d-flex align-items-center">
                                <a href="#" class="avatar avatar-lg bg-warning rounded-circle text-white">
                                    <img alt="..." src="https://images.unsplash.com/photo-1579463148228-138296ac3b98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
                                </a>
                                <div class="ms-4">
                                    <span class="h4 d-block mb-0">Julianne Moore</span>
                                    <a href="#" class="text-sm font-semibold text-muted">View Profile</a>
                                </div>
                            </div>
                        </div>
                        <div class="ms-auto">
                            <button type="button" class="btn btn-sm btn-neutral">Upload</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Form -->
            <div class="mb-5">
                <h5 class="mb-0">Contact Information</h5>
            </div>
            <form class="mb-6">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <div class="">
                            <label class="form-label" for="first_name">First name</label>
                            <input type="text" class="form-control" id="first_name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="">
                            <label class="form-label" for="last_name">Last name</label>
                            <input type="text" class="form-control" id="last_name">
                        </div>
                    </div>
                </div>
                <div class="row g-5">
                    <div class="col-md-6">
                        <div class="">
                            <label class="form-label" for="email">Email</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="">
                            <label class="form-label" for="phone_number">Phone number</label>
                            <input type="tel" class="form-control" id="phone_number">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="">
                            <label class="form-label" for="address">Address</label>
                            <input type="text" class="form-control" id="address">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="">
                            <label class="form-label" for="city">City</label>
                            <input type="text" class="form-control" id="city">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="">
                            <label class="form-label" for="country">Country</label>
                            <select class="form-select" id="country" placeholder="Your email" aria-label="Default select example">
                                <option selected="selected">Country</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="">
                            <label class="form-label" for="zip">ZIP</label>
                            <input type="tel" class="form-control" id="zip">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="check_primary_address" id="check_primary_address">
                            <label class="form-check-label" for="check_primary_address">
                                Make this my default address
                            </label>
                        </div>
                    </div>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-sm btn-neutral me-2">Cancel</button>
                    <button type="submit" class="btn btn-sm btn-primary">Save</button>
                </div>
            </form>
            <hr class="my-10"/>
            <!-- Individual switch cards -->
            <div class="row g-6">
                <div class="col-md-6">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <h5 class="mb-2">Public profile</h5>
                            <p class="text-sm text-muted mb-6">
                                Making your profile public means that anyone on the network will be able to find you.
                            </p>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked="checked">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <h5 class="mb-2">Show my email</h5>
                            <p class="text-sm text-muted mb-6">
                                Showing your e-mail adresses means that anyone on the network will be able to find you.
                            </p>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card shadow border-0">
                        <div class="card-body d-flex align-items-center">
                            <div>
                                <h5 class="text-danger mb-2">Deactivate account</h5>
                                <p class="text-sm text-muted">
                                    Once you delete your account, there is no going back. Please be certain.
                                </p>
                            </div>
                            <div class="ms-auto">
                                <button type="button" class="btn btn-sm btn-danger">Deactivate</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
