---
layout: base
title: Account Settings
permalink: 'settings.html'
---

<div class="container-fluid max-w-screen-md vstack gap-6">
    <!-- Profile picture -->
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div>
                    <div class="d-flex align-items-center">
                        <a href="#" class="avatar avatar-lg bg-warning rounded-circle text-white">
                            <img alt="..." src="{{ profile.img | url  }}">
                        </a>
                        <div class="ms-4">
                            <span class="h4 d-block mb-0">{{ profile.name | url  }}</span>
                            <a href="#" class="text-sm font-semibold text-muted">View Profile</a>
                        </div>
                    </div>
                </div>
                <div class="ms-auto">
                    <button type="button" class="btn btn-sm btn-neutral">Upload</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="mb-5">
            <h4>Contact Information</h4>
        </div>
        <form>
            <div class="row g-5">
                <div class="col-md-6">
                    <div>
                        <label class="form-label">First name</label>
                        <input type="text" class="form-control" id="first_name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <label class="form-label">Last name</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <label class="form-label" for="email">Email</label>
                        <input type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <label class="form-label">Phone number</label>
                        <input type="tel" class="form-control">
                    </div>
                </div>
                <div class="col-12">
                    <div>
                        <label class="form-label">Address</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <label class="form-label">City</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <label class="form-label">Country</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected="selected">Country</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <label class="form-label" for="zip">ZIP</label>
                        <input type="tel" class="form-control" id="zip">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="check-primary-address" id="check-primary-address">
                        <label class="form-check-label" for="check-primary-address">
                            Make this my default address
                        </label>
                    </div>
                </div>
                <div class="col-12 text-end">
                    <button type="button" class="btn btn-sm btn-neutral me-2">Cancel</button>
                    <button type="submit" class="btn btn-sm btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
