<div class="card shadow-4-hover">
    <div class="p-2">
        <a href="#" class="d-block">
            <img class="img-fluid rounded-2" alt="..." src="{{ img.src  }}" />
        </a>
    </div>
    <div class="px-4 pt-2 pb-4">
        <h6 class="font-semibold mb-2">{{ title }}</h6>
        <div class="d-flex align-items-center">
            <div class="text-xs text-muted">
                <i class="bi bi-lock me-1"></i>Private
            </div>
            <div class="text-xs text-muted ms-auto">
                3 hrs ago
            </div>
        </div>
        <span class="d-block">{{ subtitle }}</span>
    </div>
</div>
