<div class="dropdown">
	<a class="text-muted{% if class %} {{ class }}{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="bi bi-{% if orientation == 'horizontal' %}three-dots{% else %}three-dots-vertical{% endif %}"></i>
	</a>
    <div class="dropdown-menu">
		<a href="#!" class="dropdown-item">
			Action
		</a>
		<a href="#!" class="dropdown-item">
			Another action
		</a>
		<a href="#!" class="dropdown-item">
			Something else here
		</a>
    </div>
</div>
