<div>
	<button type="button" class="btn btn-sm px-3 btn-neutral d-flex align-items-center">
		<i class="bi bi-funnel me-2"></i>
		<span>Filters</span>
		<span class="vr opacity-20 mx-3"></span>
		<span class="text-xs text-primary">2</span>
	</button>
</div>
