<ul class="navbar-nav">
    <li>
        <span class="nav-link text-xs font-semibold text-uppercase text-muted ls-wide">
            Resources
        </span>
    </li>
    <li class="nav-item">
        <a class="nav-link py-2" href="/docs">
            <i class="bi bi-code-square"></i> Documentation
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link py-2" href="/docs/changelog">
            <i class="bi bi-journals"></i> Changelog
        </a>
    </li>
</ul>
